:root {
  /* Define color palette */
  /* Mocha */
  --rosewater-dark: #f5e0dc;
  --flamingo-dark: #f2cdcd;
  --pink-dark: #f5c2e7;
  --mauve-dark: #cba6f7;
  --red-dark: #f38ba8;
  --maroon-dark: #eba0ac;
  --peach-dark: #fab387;
  --yellow-dark: #f9e2af;
  --green-dark: #a6e3a1;
  --teal-dark: #94e2d5;
  --sky-dark: #89dceb;
  --sapphire-dark: #74c7ec;
  --blue-dark: #89b4fa;
  --lavender-dark: #b4befe;
  --text-dark: #cdd6f4;
  --subtext1-dark: #bac2de;
  --subtext0-dark: #a6adc8;
  --overlay2-dark: #9399b2;
  --overlay1-dark: #7f849c;
  --overlay0-dark: #6c7086;
  --surface2-dark: #585b70;
  --surface1-dark: #45475a;
  --surface0-dark: #313244;
  --base-dark: #1e1e2e;
  --mantle-dark: #181825;
  --crust-dark: #11111b;
  
  /* Latte */
  --rosewater-light: #dc8a78;
  --flamingo-light: #dd7878;
  --pink-light: #ea76cb;
  --mauve-light: #8839ef;
  --red-light: #d20f39;
  --maroon-light: #e64553;
  --peach-light: #fe640b;
  --yellow-light: #df8e1d;
  --green-light: #40a02b;
  --teal-light: #179299;
  --sky-light: #04a5e5;
  --sapphire-light: #209fb5;
  --blue-light: #1e66f5;
  --lavender-light: #7287fd;
  --text-light: #4c4f69;
  --subtext1-light: #5c5f77;
  --subtext0-light: #6c6f85;
  --overlay2-light: #7c7f93;
  --overlay1-light: #8c8fa1;
  --overlay0-light: #9ca0b0;
  --surface2-light: #acb0be;
  --surface1-light: #bcc0cc;
  --surface0-light: #ccd0da;
  --base-light: #eff1f5;
  --mantle-light: #e6e9ef;
  --crust-light: #dce0e8;

  /* App variables that use theme colors */
  --search-result-title-hover: color-mix(in srgb, var(--blue) 60%, white 40%);
  --app-bg: var(--base);
  --color-light-blue: var(--surface0);
  --color-kids-dark_blue: var(--surface1);
  --color-white: var(--base);
  --background-color: var(--base);
  --background-color-secondary: var(--surface0);
  --background-color-sky: var(--sky);
  --header-bg: var(--surface0);
  --header-border: var(--surface0);
  --langing-bg: var(--green);
  --landing-search-btn-bg: var(--text);
  --landing-search-btn-border: var(--text);
  --landing-search-btn-color: var(--base);
  --cheatsh_background: var(--crust);
  --cheatsh_ef186: var(--yellow);
  --cheatsh_ef15: var(--text);
  --cheatsh_ef148: var(--green);
  --cheatsh_ef81: var(--sky);
  --app-bg: var(--base);
  --app-frame-bg: var(--app-bg);
  --bottom-bar-bg: var(--mantle);
  --landing-bg: var(--app-bg);
  --app-bg-opac: rgba(17, 17, 27, 0);
  --app-text: var(--text);
  --beta-tag-bg: var(--mauve);
  --beta-tag-text: var(--base);
  --beta-tag-inside-corners: var(--sky);
  --kagi-sky: var(--sky);
  --kagi-sky-b: var(--base);
  --kagi-accent: var(--surface0);
  --kagi-graphite-s: var(--overlay1);
  --kagi-graphite-ia: var(--yellow);
  --settings-app-inner-bg: var(--mantle);
  --inner-shadow: transparent;
  --box-shadow: rgba(0, 0, 0, 0.5);
  --kagi-graphite-ia: var(--yellow);
  --primary: var(--text);
  --secondary: var(--overlay1);
  --primary-25: var(--surface0);
  --primary-50: var(--surface0);
  --primary-70: var(--surface1);
  --primary-100: var(--surface0);
  --primary-200: var(--surface1);
  --primary-300: var(--overlay0);
  --primary-400: var(--overlay2);
  --primary-500: var(--overlay1);
  --primary-600: var(--subtext0);
  --primary-700: var(--subtext0);
  --primary-800: var(--subtext1);
  --primary-850: var(--subtext1);
  --primary-900: var(--subtext1);
  --primary-950: var(--text);
  --primary-1000: var(--text);
  --color-search-input: var(--surface1);
  --color-search-input-border: var(--overlay0);
  --color-search-input-opac: rgba(49, 50, 68, 0);
  --color-link: var(--text);
  --primary-hover: var(--mauve);
  --primary-hover-hover: var(--pink);
  --primary-visited: var(--red);
  --input-bg: var(--surface1);
  --resultsummary-highlight: var(--lavender);
  --resultsummary-highlight_text: var(--secondary);
  --doggo-color-1: var(--text);
  --doggo-bg-color: var(--surface1);
  --landing-page-clouds-opacity: 0.8;
  --quick-search-bg: var(--text);
  --quick-search-icon: var(--overlay1);
  --filter-dd-bg: var(--crust);
  --k-tooltip-bg: var(--primary);
  --k-tooltip-text: var(--secondary);
  --dd-hover-bg: var(--kagi-accent);
  --dd-list-input-bg: var(--surface1);
  --not-found-bubble-bg: var(--secondary);
  --app-sidebar-item-border: hsla(0, 0%, 90%, 0.1);
  --app-sidebar-link: var(--primary-700);
  --app-sidebar-nav-item-bg_hover: var(--yellow);
  --app-sidebar-nav-item-icon_hover: var(--primary);
  --ranked-box-connection-secure: var(--green);
  --ranked-box-connection-insecure: var(--peach);
  --ranked-box-icon-normal-bg: var(--ranked-box-wrapper-bg);
  --site_info_bg: var(--surface0);
  --site_info_bottom_bg: var(--mantle);
  --btn-group-bg: var(--input-bg);
  --result-item-title-border: var(--flamingo);
  --result-item-title-border_hover: var(--mauve);
  --result-rank-icon-stroke_promoted: var(--app-bg);
  --result-item-highlight: var(--sky);
  --search-result-content-text: var(--primary-600);
  --search-result-url-link: var(--green);
  --search-result-title: var(--blue);
  --search-result-date-bg: var(--surface1);
  --search-result-date-new-bg: var(--surface2);
  --search-result-date-new: var(--subtext0);
  --inline-header-title: var(--subtext0);
  --inline-widget-bg: var(--surface0);
  --inline-widget-hover-bg: var(--surface1);
  --inline-header-border: var(--overlay0);
  --inline-domain-tag-bg: var(--surface1);
  --related-item-bg: var(--surface0);
  --related-item-hover-bg: var(--surface1);
  --video-item-bg: var(--base);
  --provider-breakdown_server: var(--teal);
  --provider-breakdown_client: var(--yellow);
  --provider-breakdown_speed1: var(--green);
  --provider-breakdown_speed2: var(--red);
  --provider-breakdown_speed3: var(--peach);
  --widget-progress_bar: var(--text);
  --translate-fc_icon: var(--overlay1);
  --rating-star_background: var(--overlay0);
  --wiki-content-links: var(--lavender);
  --m_sri_gap_color: var(--mantle);
  --image_brightness: 85%;
  --onboarding_theme_options_dark_visibility: flex;
  --onboarding_theme_options_light_visibility: none;
  --onb_theme_light_preview_box: none;
  --onb_theme_calm_blue_preview_box: none;
  --onb_theme_royal_blue_preview_box: flex;
  --onb_theme_moon_dark_preview_box: none;
  --billing-svg-bg-premium_1: var(--inline-widget-bg);
  --code-bg: var(--mantle);
  --code-border: var(--surface1);
  --code-k: var(--red);
  --code-s: var(--yellow);
  --code-cm-c1: var(--peach);
  --code-n: var(--blue);
  --code-p: var(--red);
  --ai_chat_buble_a_bg: var(--crust);
  --ai_chat_buble_dd_a_bg: var(--mantle);
  --checkbox-bg: var(--mauve);
  --checkbox-check: var(--text);
  --as-dd-border: var(--primary-200);
}
.theme_light {
 /* Default theme (light) */
  --rosewater: var(--rosewater-light);
  --flamingo: var(--flamingo-light);
  --pink: var(--pink-light);
  --mauve: var(--mauve-light);
  --red: var(--red-light);
  --maroon: var(--maroon-light);
  --peach: var(--peach-light);
  --yellow: var(--yellow-light);
  --green: var(--green-light);
  --teal: var(--teal-light);
  --sky: var(--sky-light);
  --sapphire: var(--sapphire-light);
  --blue: var(--blue-light);
  --lavender: var(--lavender-light);
  --text: var(--text-light);
  --subtext1: var(--subtext1-light);
  --subtext0: var(--subtext0-light);
  --overlay2: var(--overlay2-light);
  --overlay1: var(--overlay1-light);
  --overlay0: var(--overlay0-light);
  --surface2: var(--surface2-light);
  --surface1: var(--surface1-light);
  --surface0: var(--surface0-light);
  --base: var(--base-light);
  --mantle: var(--mantle-light);
  --crust: var(--crust-light);
  --color-scheme: light;
}

.theme_moon_dark {
  --rosewater: var(--rosewater-dark);
  --flamingo: var(--flamingo-dark);
  --pink: var(--pink-dark);
  --mauve: var(--mauve-dark);
  --red: var(--red-dark);
  --maroon: var(--maroon-dark);
  --peach: var(--peach-dark);
  --yellow: var(--yellow-dark);
  --green: var(--green-dark);
  --teal: var(--teal-dark);
  --sky: var(--sky-dark);
  --sapphire: var(--sapphire-dark);
  --blue: var(--blue-dark);
  --lavender: var(--lavender-dark);
  --text: var(--text-dark);
  --subtext1: var(--subtext1-dark);
  --subtext0: var(--subtext0-dark);
  --overlay2: var(--overlay2-dark);
  --overlay1: var(--overlay1-dark);
  --overlay0: var(--overlay0-dark);
  --surface2: var(--surface2-dark);
  --surface1: var(--surface1-dark);
  --surface0: var(--surface0-dark);
  --base: var(--base-dark);
  --mantle: var(--mantle-dark);
  --crust: var(--crust-dark);
  --color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  .theme_moon_dark_conditional {
    --rosewater: var(--rosewater-dark);
    --flamingo: var(--flamingo-dark);
    --pink: var(--pink-dark);
    --mauve: var(--mauve-dark);
    --red: var(--red-dark);
    --maroon: var(--maroon-dark);
    --peach: var(--peach-dark);
    --yellow: var(--yellow-dark);
    --green: var(--green-dark);
    --teal: var(--teal-dark);
    --sky: var(--sky-dark);
    --sapphire: var(--sapphire-dark);
    --blue: var(--blue-dark);
    --lavender: var(--lavender-dark);
    --text: var(--text-dark);
    --subtext1: var(--subtext1-dark);
    --subtext0: var(--subtext0-dark);
    --overlay2: var(--overlay2-dark);
    --overlay1: var(--overlay1-dark);
    --overlay0: var(--overlay0-dark);
    --surface2: var(--surface2-dark);
    --surface1: var(--surface1-dark);
    --surface0: var(--surface0-dark);
    --base: var(--base-dark);
    --mantle: var(--mantle-dark);
    --crust: var(--crust-dark);
    --color-scheme: dark;
  }
}

.codehilite {
  --ch-hll: var(--surface0);
  --ch-c: var(--green);
  --ch-err: var(--text);
  --ch-err-b: transparent;
  --ch-esc: var(--text);
  --ch-g: var(--text);
  --ch-k: var(--peach);
  --ch-l: var(--text);
  --ch-n: var(--text);
  --ch-o: var(--text);
  --ch-x: var(--text);
  --ch-p: var(--text);
  --ch-ch: var(--green);
  --ch-cm: var(--green);
  --ch-cp: var(--red);
  --ch-cpf: var(--green);
  --ch-c1: var(--green);
  --ch-cs: var(--green);
  --ch-kc: var(--peach);
  --ch-kd: var(--peach);
  --ch-kn: var(--peach);
  --ch-kp: var(--peach);
  --ch-kr: var(--peach);
  --ch-kt: var(--yellow);
  --ch-m: var(--blue);
  --ch-s: var(--sky);
  --ch-na: var(--pink);
  --ch-nf: var(--pink);
  --ch-no: var(--sky);
  --ch-nt: var(--peach);
  --ch-nv: var(--peach);
  --ch-w: var(--overlay0);
  --ch-mb: var(--blue);
  --ch-mf: var(--blue);
  --ch-mh: var(--blue);
  --ch-mi: var(--blue);
  --ch-mo: var(--blue);
  --ch-sa: var(--sky);
  --ch-sb: var(--sky);
  --ch-sc: var(--sky);
  --ch-dl: var(--sky);
  --ch-sd: var(--sky);
  --ch-s2: var(--sky);
  --ch-se: var(--sky);
  --ch-sh: var(--sky);
  --ch-si: var(--sky);
  --ch-sx: var(--sky);
  --ch-sr: var(--sky);
  --ch-s1: var(--sky);
  --ch-ss: var(--sky);
  --ch-fm: var(--pink);
  --ch-vc: var(--peach);
  --ch-vg: var(--peach);
  --ch-vi: var(--peach);
  --ch-vm: var(--peach);
  --ch-il: var(--blue);
}

/* Remove bottom border from links */
.__sri_title_link._0_sri_title_link._0_URL {
  border-bottom: none;
}

.widget-simple .widgetItemTitle .__title-text:hover {
  text-decoration: none;
}

/* Remove underline with nested links */
.__srgi-title a,
.__srgi-title a:hover {
  border-bottom: none;
}

/* Define standard color for secondary result */
.__srgi-title a {
  color: var(--blue);
}

/* Define hover color for secondary result */
/* slightly lighter than blue which is the usual color */
.__srgi-title a:hover {
  color: color-mix(in srgb, var(--blue) 60%, white 40%);
}

/* Define hover color for visited secondary result */
/* slightly lighter than red which is the usual color */
.__srgi-title a:hover:visited,
.__sri-title-box a:hover:visited {
  color: color-mix(in srgb, var(--red) 60%, white 40%);
}

/* Remove underline from links in Wikipedia module */
.wikipediaResult a,
.wikipediaResult a:hover,
.wikipediaResult .wiki-title a,
.wikipediaResult .wiki-title a:hover {
  border-bottom: none; 
}

/* Remove gaps between sections on IOS */
.search-result, .sri-group {
  border-bottom: none;
}

.inline-content+.search-result, .inline-content+.sri-group {
  border-top: none;
}

/* Remove underline from interesting finds on IOS */
.list-widget .widgetContent .widgetItemTitle {
  border-bottom: none;
}

/* Remove widget margin bottom */
.widgetContent {
  margin-bottom: none;
}